@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #171717;
  font-weight: 300;
}
.app {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.logo {
  width: 80px;
  /* height: 80px; */
  position: absolute;
  top: 40px;
  left: 40px;
  @media (max-width: 900px) {
    width: 60px;
    top: 20px;
    left: 20px;
  }
  @media (max-width: 700px) {
    width: 60px;
    top: 20px;
    left: 20px;
  }
  @media (max-width: 550px) {
    width: 30px;
    left: calc((100vw - 30px) / 2);
    top: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: var(--h5-size);

  @media (max-width: 550px) {
    font-size: 6px;
    width: 170px;
    left: calc((100vw - 170px) / 2);
  }
}
