.board {
  margin: calc((100vh - 100px * 8) / 2) calc((100vw - 100px * 8) / 2);
  width: calc(100px * 8);
  height: calc(100px * 8);
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    margin: calc((100vh - 50px * 8) / 2) calc((100vw - 50px * 8) / 2);
    width: calc(50px * 8);
    height: calc(50px * 8);
  }
  @media (max-width: 500px) {
    margin: calc((100vh - 100vw) / 2) 0;
    width: 100vw;
    height: 100vw;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(8, calc(100vw / 8));
  }
}
.transformBoard {
  transform: rotate(180deg);
}
